*/ {
    padding:0;
    box-sizing: border-box;
    margin:0;
}
body   {
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    padding:5px;
    border-radius: 15px;
    background:hsl(216, 12%, 8%);
    border:none;
   
}
.container {
    margin-top:250px;
    border:soid;
    border-radius: 12px;
    background-color:hsl(213, 19%, 18%);
    padding:40px;
}
.head {
    color:white;
}

.main {
    margin-bottom:30px;
    color:hsl(217, 12%, 63%);
    font-size: 15px;    
    
}
.number {
    display:flex;
    letter-spacing: 50px;
    margin-top:30px;
    margin-bottom:30px;
}
.day {
    /* border:solid;
    border-radius: 50%;
    height:50px;
    margin-right:20px;
    justify-content: center; */
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px;
    background:hsl(216, 12%, 8%);
    border: 3px solid (213, 19%, 18%);
    color: white;
    text-align: center;
    font-size:10px;
    margin-right:5px;
    
}
.btn {
    background-color:hsl(25, 97%, 53%);
    width:350px;
    height:30px;
    border:none;
    border-radius:8px;
    color:hsl(0, 0%, 100%);
    margin-bottom:30px;
    
   
}